
.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.flex-grow {
	flex-grow: 1;
}

.flex-gap-10>* {
	margin: 5px;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.column {
	direction: column;
}

.gap-10:first-child {
	margin-left: 0 !important;
}

.gap-10:last-child {
	margin-right: 0 !important;
}

.gap-10>* {
	margin: 0 5px;
}

.vertical-center {
	align-items: center;
}

.errors {
	background-color: #e74c3c;
	color: white;
	border-radius: 10px;
}

.wrap {
	flex-wrap: wrap;
}

.list-style-none li {
	list-style-type: none;
}

.clickable {
	color: #3498db;
	cursor: pointer;
}

.justify-content-center {
	justify-content: center;
}