main {
	padding: 20px;
}

#main__p {
	grid-area: main__p;
	color: white;
	background-color: #f39c12;
	padding: 10px 20px;
	margin-right: auto;
	border-radius: 5px;
}

#section {
	grid-area: section;
}

#aside--first {
	grid-area: aside--first;
	margin: 80px 0;
}

#aside--second {
	grid-area: aside--second;
}

#main__article {
	grid-area: main__article;
	display: flex;
	flex-flow: row wrap;
}

.article__div--lastthree {
	flex: 1 200px;
	margin: 5px;
}

#aside--first__p--error {
	background-color: #e74c3c;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

#article__div--first__div {
	overflow: auto;
	width: calc(100vw - 40px);
}

#section__form__div--first, #section__form__fieldset--keyword__div--wrap, #section__form__div--second {
	display: flex;
	flex-flow: row wrap;
}

.section__form_div--first__input--all, .section__form__fieldset--keyword__div--wrap__input, .section__form__div--second__fieldset--all {
	flex: 1 200px;
	margin: 5px;
}

#section__form__ul--first, #section__ul--second {
	padding: 10px;
	padding-left: 30px;
	border: 1px solid #f1c40f;
	border-radius: 5px;
}

#section__ul--second {
	margin-top: 10px;
	background-color: #e74c3c;
	color: white;
}

#section__p--sucessfully-submit {
	background-color: #2ecc71;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-width: 480px) {
	main {
		display: grid;
		align-items: start;
		grid-gap: 10px;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 
			"main__p main__p"
			"section aside--first"
			"aside--second aside--second"
			"main__article main__article"
	}
}

@media screen and (min-width: 1025px) {
	main {
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: 
			"main__p main__p main__p"
			"section aside--first aside--second"
			"main__article main__article main__article"
	}
}