/*header*/
header {
	border-bottom: 1px solid #bdc3c7;
}

header>nav, header>div>form {
	display: none;
}

header>div {
	justify-content: space-between;
}
/*end header*/

main {
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 40px;
	grid-template-areas: 
		"welcome welcome welcome"
		"recommended-books recommended-books recommended-books"
		"user-bio user-bio user-bio"
}

form {
	display: grid;
	grid-template-columns: auto max-content;
}

section.welcome {
	display: grid;
	grid-template-rows: repeat(4, auto);
	justify-content: center;
	grid-gap: 20px;
	text-align: center;
	grid-area: welcome;
	align-self: center;
	grid-template-areas:
}

aside.recommended-books {
	grid-area: recommended-books;
}

aside.recommended-books>div {
	margin-top: 20px;
}

aside.user-bio {
	grid-area: user-bio;
}

aside img.featured_book {
	width: 90px;
	height: 150px;
	margin: 1px;
	border: 1px solid grey;
}

@media screen and (min-width: 480px) {
	main {
		grid-template-areas: 
			"welcome recommended-books recommended-books"
			"user-bio user-bio user-bio"
	}
}

@media screen and (min-width: 1025px) {
	main {
		grid-template-areas: 
			"welcome recommended-books user-bio"
	}
}