main {
	display: grid;
	align-items: start;
}

section>h2 {
	font-size: 1.1rem;
}

section td {
	padding: 10px;
}

section {
	padding: 10px;
}

section, aside {
	margin: 10px;
}

.highlight {
	background-color: #ecf0f1;
}

main p.msg-error {
	color: #e74c3c;
	text-align: center;
	font-size: 2rem;
}

div.flx {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.no_found_related_keyword {
	text-align: center;
}

i.error {
	font-size: 70px;
	color: #7f8c8d;
}

#connection_error_reason {
	margin: 0 20px;
}

@media screen and (min-width: 1025px) {
	main {
		grid-template-columns: 2fr 1fr;
	}
}