{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
	<style type="text/css">
		article {
			margin: 10px;
		}
	</style>
{% endblock %}
{% block main %}
	<article>
		<h2>Welcome to <strong>Library Genesis</strong></h2>
		<p>Library Genesis is a place to look for your <strong>favourite books and article</strong>. As part it is a search engine for articles and books on various topics, which allows <em>free access to content that is otherwise paywalled</em>.</p>
		<p><strong>Our saying</strong> | Learning is the human nature then why do you pay for it shape you future with <em>Library Genesis App</em>.</p>
		<p>As part our mission is to make learning free of cost</p>
		<h3>Services</h3>
		<p>Library Genesis App provides a search engine to crawl over the digital content on the internet(<em>mostly books</em>). <br>As part we promote your amazing books as well(<em>To know <a href="{% url 'ads-manager' %}">more</a></em>).</p>
	</article>
{% endblock %}