{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis - {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div class="signature">
			<img src="{% static 'icon.png' %}" alt="Library Genesis App icon" class="logo">
			<a href="{% url 'index' %}" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<a href="{% url 'profile' %}"><img src="{% static 'profile-resize.jpg' %}" class="profile" alt="Profile Pic"></a>
		<nav>
			<form action="{% url 'search' %}">
				<input type="search" name="query" placeholder="Search here">
				<input type="submit" value="Go">
			</form>
		</nav>
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer>
		<a href="{% url 'disclaimer' %}">Disclaimer</a>
	</footer>
</body>
</html