{% extends 'base.html' %}
{% load static %}
{% block title %}Evaluations{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'evaluations.css' %}">
{% endblock %}
{% block main %}
	<div class="content">
		<article>
			<h2>What is Evaluation</h2>
			<p>Evaluations are the <strong>quiz</strong> based <strong>test</strong> created by you for a particular <strong>book</strong>, which will be visible for other readers. <a href="https://www.thoughtco.com/the-purpose-of-tests-7688#:~:text=They%20are%20used%20to%20determine,the%20effectiveness%20of%20educational%20programs."><cite>So that other readers can evalute themself that they have learnt what they have expected to learn</cite></a></p>
			<p>Help other readers to evaluate themselves by <a href="">creating evaluations</a> for books that you have already read.</p>
		</article>
		<div class="flx">
			<section>
				<h2>Create Evaluation</h2>
				<p>First of all thank you for give your support.</p>
				<p><a href="https://docs.google.com/forms/" class="create-evaluation" target="_blank">Create here</a> and share public link with us</p>
				<ol>
					<li>Go to <a href="https://docs.google.com/forms/" target="_blank">Google Forms</a> and create a new form.</li>
					<li>Add questions as per your requirements.</li>
					<li>Add options for each question.</li>
					<li>Go to google drive find you form.</li>
					<li>Right click on your form and get public sharable link.</li>
					<li>Add this link to <a href="#add-link">particular book</a>.</li>
				</ol>
			</section>
			<section id="add-link">
				<h2>Link your evaluation to book <abbr title="You will only be allowed to add links for downloaded books"><i class="material-icons" class="warning">warning</i></abbr></h2>
				<form method="post">
					{% csrf_token %}
					<input type="url" name="link" placeholder="Paste your form link" required>
					<input type="text" name="title" placeholder="Title" required>
					<select id="books" name="books" required>
						{% for book in user.books.all %}
							<option value="{{ book.id }}">{{ book.name }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Save">
				</form>
			</section>
		</div>
	</div>
	<div class="sidebar">
		<aside>
			<h2>Related Links</h2>
			<ul>
				<li><a href="https://support.google.com/docs/answer/6281888?co=GENIE.Platform%3DDesktop&hl=en">How to use Google Forms?</a></li>
				<li><a href="https://www.thoughtco.com/the-purpose-of-tests-7688#:~:text=They%20are%20used%20to%20determine,the%20effectiveness%20of%20educational%20programs.">Why Evaluations(<em>Tests</em>) are so important?</li>
			</ul>
		</aside>
	</div>
{% endblock %}