{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis-Home</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
	<header>
		<div class="signature">
			<img src="{% static 'icon.png' %}" alt="Library Genesis App icon" class="logo">
			<a href="{% url 'index' %}" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<a href="{% url 'profile' %}"><img src="{% static 'profile-resize.jpg' %}" class="profile" alt="Profile Pic"></a>
	</header>
	<main>
		<section class="welcome">
			<h2>Welcome to Library Genesis App</h2>
			<p>A Place to look for your favourite books and articles.</p>
			<nav>
				<form action="{% url 'search' %}">
					<input type="search" name="query" placeholder="Search here">
					<input type="submit" value="Go!">
				</form>	
			</nav>
		</section>
		<aside class="recommended-books">
			<h2>These books are waiting for you</h2>
			<ul>
				<li><a href="">Python 3</a></li>
				<li><a href="">Python The hard way</a></li>
				<li><a href="">Let us C</a></li>
				<li><a href="">Exploring Python</a></li>
				<li><a href="">Exploring C</a></li>
			</ul>
		</aside>
		<aside class="user-bio">
			<h2>This is what we collect about you</h2>
			<p>Hi Himanshu, we congratulate you for you journey to great future If you could only think of “human with face,” or “professional needs job,” you’ve come to the right place. Learning how to write a bio is not easy; defining yourself in a few words even less so. But never fear—you can do it! Taking a few minutes to think about what you’re about isn’t just a great writing exercise, it’s a clarifying moment of personal development. Here are a few ways you can get started on your professional, website, LinkedIn, or short bio.</p>
		</aside>
	</main>
	<footer>
		<a href="{% url 'disclaimer' %}">Disclaimer</a>
	</footer>
</body>
</html