{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis-Home</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
	<header>
		<div class="signature">
			<img src="{% static 'icon.png' %}" alt="Library Genesis App icon" class="logo">
			<a href="{% url 'index' %}" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<a href="{% url 'profile' %}"><img src="{% static 'profile-resize.jpg' %}" class="profile" alt="Profile Pic"></a>
	</header>
	<main>
		<section class="welcome">
			<h2>Welcome to Library Genesis App</h2>
			<p>A Place to look for your favourite books and articles.</p>
			<nav>
				<form action="{% url 'search' %}">
					<input type="search" name="query" placeholder="Search here">
					<input type="submit" value="Go!">
				</form>	
			</nav>
		</section>
		<aside class="recommended-books">
			<h2>These books are waiting for you</h2>
			<div>
				{% if sponsored_books.exists %}
					{% for sponsored_book in sponsored_books %}
							<a href="{{ sponsored_book.redirect_link }}"><img src="{{ sponsored_book.thumbnail }}" alt="{{ sponsored_book.title }}" class="featured_books"></a>
					{% endfor %}
				{% else %}
					{% for sponsored_book in all_sponsored_books %}
							<a href="{{ sponsored_book.redirect_link }}"><img src="{{ sponsored_book.thumbnail }}" alt="{{ sponsored_book.title }}" class="featured_books"></a>
					{% endfor %}
				{% endif %}
			</div>
		</aside>
		<aside class="user-bio">
			<h2>This is what we collect about you</h2>
			<p>Hi Himanshu, we congratulate you for you journey to great future with reading books. Collected data (<em>your interests</em>) is truely based on your searchs and and downloaded books. 
			{% if user.intrests.exists %}
			You have shown your interests in these topics</p>
				<ul>
					{% for intrest in user.intrests.all|slice:":5" %}
						<li>{{ intrest.keyword }}</li>
					{% endfor %}
				</ul>
			<p>and many more.
			{% endif %}
			<br>You will be seen <a href="">sponsored books</a> on search result as well as on <a href="">royal places</a>(<em>Home Page</em>) based on your intrests. Collected interests will keep updating as per your inputs.</p>
		</aside>
	</main>
	<footer>
		<a href="{% url 'disclaimer' %}">Disclaimer</a>
	</footer>
</body>
</html