<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis-{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div class="signature">
			<img src="{% static 'icon.png' %}" alt="Library Genesis App icon" class="logo">
			<a href="index.html" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<a href="profile.html"><img src="{% static 'profile-resize.jpg' %}" class="profile" alt="Profile Pic"></a>
		<nav>
			<form>
				<input type="search" name="query" placeholder="Search here">
				<input type="submit" value="Go">
			</form>
		</nav>
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer>
		<a href="disclaimer.html">Disclaimer</a>
	</footer>
</body>
</html