<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis-Disclaimer</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="base.css">
	<link rel="stylesheet" type="text/css" href="disclaimer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<div class="signature">
			<img src="icon.png" alt="Library Genesis App icon" class="logo">
			<a href="index.html" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<a href="profile.html"><img src="profile-resize.jpg" class="profile" alt="Profile Pic"></a>
		<nav>
			<form action="search-result.html">
				<input type="search" name="query" placeholder="Search here">
				<input type="submit" value="Go!">
			</form>	
		</nav>
	</header>
	<main>
		<article>
			<h2>How do we surve content to you.</h2>
			<ul>
				<li>Library Genesis App <em>is not an official Library genesis app</em>.</li>
				<li>This app uses the APIs provided by the Libgen website itself and is not associated with Library genesis App.</li>
				<li>We do not store any stuff in our <strong>SERVERS</strong>.</li>
				<li>All PDFs are provided by the public third-party service <strong><a href="http://gen.lib.rus.ec"><cite>http://gen.lib.rus.ec</cite></a></strong>.</li>
				<li>All trademarks and copyrights belong to their respective owners and are used here under the terms of Fair Use and the <a href="https://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act"><cite><abbr title="Digital Millennium Copyrights Act">(DMCA)</abbr></cite> *</a>.</li>
			</ul>
		</article>
	</main>
	<footer>
		<a href="disclaimer.html">Disclaimer</a>
	</footer>
</body>
</html