<!DOCTYPE html>
<html>
<head>
	<title>Library Genesis-Home</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="base.css">
	<link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
	<header>
		<div class="signature">
			<img src="icon.png" alt="Library Genesis App icon" class="logo">
			<a href="index.html" class="logo">
				<h1>Library Genesis App</h1>
			</a>
		</div>
		<nav>
			<form action="search-result.html">
				<input type="search" name="query" placeholder="Search here">
				<input type="submit" value="Go!">
			</form>	
		</nav>
		<a href="profile.html"><img src="profile-resize.jpg" class="profile" alt="Profile Pic"></a>
	</header>
	<main>
		<section>
			<img src="profile-resize.jpg" alt="Profile Pic">
			<h2>Himanshu Pharawal</h2>
			<div class="table-scroll">
				<table>
					<tr>
						<td>Email</td>
						<td>himanshupharawal100@gmail.com</td>
					</tr>
					<tr>
						<td>Total no. of books downloads</td>
						<td>17</td>
					</tr>
					<tr>
						<td>Total no. of evalutions created</td>
						<td>4</td>
					</tr>
				</table>
			</div>
		</section>
		<aside class="linked-books">
			<h2>Books Linked to your profile</h2>
			<ul>
				<li><a href="">Python 3</a></li>
				<li><a href="">Python The hard way</a></li>
				<li><a href="">Let us C</a></li>
				<li><a href="">Exploring Python</a></li>
				<li><a href="">Exploring C</a></li>
			</ul>
		</aside>
		<aside class="evalutions">
			<h2>Evaluation Created by you</h2>
			<ul>
				<li><a href="">Python 3</a></li>
				<li><a href="">Python The hard way</a></li>
				<li><a href="">Let us C</a></li>
				<li><a href="">Exploring Python</a></li>
				<li><a href="">Exploring C</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<a href="disclaimer.html">Disclaimer</a>
	</footer>
</body>
</html