main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 20px;
	grid-template-areas: 
		"flx flx"
		"sidebar sidebar"
}

div.flx {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-area: flx;
	margin: 5px;
}

aside {
	grid-area: sidebar;
	margin: 20px;
}

section{
	margin: 20px;
}

@media screen and (min-width: 1025px) {
	main {
		grid-template-areas: 
			"flx sidebar"
	}
}